@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #FFFFFF 0.89%, /* Blanco */
    #FDF8E9 17.23%, /* Dorado claro */
    #F9E79F 42.04%, /* Dorado medio */
    #F4D03F 55.12%, /* Dorado oscuro */
    #F1C40F 71.54%, /* Dorado intenso */
    #FFD700 100% /* Dorado */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}



.bg-gold-gradient {
  background: linear-gradient(
    157.81deg,
    #FFFFFF 0.89%, /* Blanco */
    #FDF8E9 17.23%, /* Dorado claro */
    #F9E79F 42.04%, /* Dorado medio */
    #F4D03F 55.12%, /* Dorado oscuro */
    #F1C40F 71.54%, /* Dorado intenso */
    #FFD700 100% /* Dorado */
  );
}
.bg-gold-gradient-2 {
  background: linear-gradient(
    157.81deg,
    #FFFFFF 0.89%, /* Blanco */
    #FDF8E9 17.23%, /* Dorado claro */
    #F9E79F 42.04%, /* Dorado medio */
    #F4D03F 42.04%, /* Dorado oscuro (mismo porcentaje que el dorado medio) */
    #F4D03F 55.12%, /* Dorado oscuro */
    #F1C40F 55.12%, /* Dorado intenso (mismo porcentaje que el dorado oscuro) */
    #F1C40F 71.54%, /* Dorado intenso */
    #FFD700 71.54% /* Dorado (mismo porcentaje que el dorado intenso) */
  );
}


.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}



.bg-white-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #e9e7e7 -78.47%,
    #cfcecf 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

/* ===================== Animaciones para botones ================================================= */

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.hover-bounce:hover {
  animation: bounce 0.3s;
}

.active-click:active {
  animation: click 0.1s;
}
/* ====================================================================================================== */